<div class="container text-center">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1">
        <form #form="ngForm" [formGroup]="loginForm" (ngSubmit)="logIn()" class="row g-3">
            <div>
                <input formControlName="email" 
                [class.is-invalid]="loginForm.get('email')?.invalid && (form.submitted || loginForm.get('email')?.touched)"
                type="email" placeholder="Email" class="form-control">
                <div class="invalid-feedback text-start">
                    Please provide a valid email
                  </div>
            </div>
            <div>
                <input formControlName="password"
                [class.is-invalid]="loginForm.get('password')?.invalid && (form.submitted || loginForm.get('password')?.touched)"
                 type="password" placeholder="Password" class="form-control">
                <div class="invalid-feedback text-start">
                    Please provide a valid passpword 3 characters long minimum 
                  </div>
            </div>
            
  
            
  
            <button [disabled] = "loginForm.invalid" class="btn btn-primary" type="submit">Sign in</button>
            
  
            <a [routerLink]="['/signup']" class="btn btn-sm btn-outline-success mt-4" role="button">Sign up</a>
        </form>
      </div>
    </div>
  </div>

  {{loginForm.get('email')?.errors | json}}
  {{loginForm.get('email')?.valid}}